@import url('https://fonts.googleapis.com/css?family=Sigmar+One');
@import url('https://fonts.googleapis.com/css2?family=Loved+by+the+King');
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans');
@import url('https://fonts.googleapis.com/css2?family=Single+Day');
@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs');
@import url('https://fonts.googleapis.com/css2?family=Salsa');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff');
@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy');
@import url('https://fonts.googleapis.com/css2?family=Chicle');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy');

body {
    background-color: rgb(253, 231, 213);
}

.ghostsinfo{
    background-color: rgb(253, 231, 213);
}

.f1:hover {
    font-family: 'Indie Flower';
}

.f2:hover {
    font-family: 'DynaPuff';
}

.f3:hover {
    font-family: 'Sour Gummy';
}

.f4:hover {
    font-family: 'Chicle';
}

.f5:hover {
    font-family: 'Sigmar One';
}

h1 {
    font-size: 100px;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 50px;
    font-family: 'Salsa';
}

h3 {
    font-size: 50px;
    text-align: center;
    font-family: 'Bubblegum Sans';
}

.startimg {
    width: auto;
    padding: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border: 5px solid gray;
    padding: auto;
}

.link {
    font-size: 50px;
    font-style: none;
    text-align: center;
    padding: 10px 30px 10px 30px;
    text-decoration: none;
    color: black;
}

.links {
    background-color: rgb(253, 231, 213);
    margin-bottom: 20px;
    font-size: 50px;
    font-family: 'Single Day';
    border-bottom: 5px solid gray;
    text-decoration: none;
    color: black;
    padding: 10px 30px 10px 30px;
    text-align: center;
}

p {
    font-size: 30px;
    text-align: left;
    font-family: 'Loved by the King';
    margin-left: 50px;
}

.background {
    background-color: rgb(253, 231, 213);
}

.kittyuh {
    width: 20%;
}

.ghosttitles {
    font-family: 'Mouse Memoirs';
    font-size: 50px;
}

.ghostimages {
    border-radius: 10px;
    width: 200px;
    height: auto;
    margin-right: 100px;
    float: left;
}

.colummn {
    float: right;
    width: 40%;
    padding: 10px;
    text-align: center;
}

.card {
    background-color: rgb(253, 231, 213);
    padding: 20px;
    margin-top: 20px;
}

.ghostbox {
    padding: 20px;
}

.now {
    background-color: rgb(252, 213, 182);
}

.ghostgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(252, 213, 182);
  color: black;
  text-align: center;
  font-weight: bold;
}

.biter {
    display: inline-block;
    width: 12%
}

.smacker {
    display: inline-block;
    width: 60%
}

.dastupids {
    display: inline-block;
    width: 27%
}

.foot {
    background-color: rgb(252, 213, 182);
    font-size: 30px;
}

.foot:hover {
    font-family: 'Loved By The King';
}

.biterimg {
    margin-top: 50px;
}
.potato {
    width: 10%;
}

.highlight {
    background-color: rgb(248, 215, 67);
}

.highlight2 {
    background-color: rgb(238, 109, 109);
}