@import url('https://fonts.googleapis.com/css?family=Sigmar+One');
@import url('https://fonts.googleapis.com/css2?family=Loved+by+the+King');
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans');
@import url('https://fonts.googleapis.com/css2?family=Single+Day');
@import url('https://fonts.googleapis.com/css2?family=Knewave');

body {
    background-color: rgb(253, 231, 213);
}
h1 {
    font-size: 100px;
    text-align: center;
}
h2 {
    font-size: 50px;
    text-align: center;
    font-family: 'Bubblegum Sans';
}
.startimg {
    width: auto;
    padding: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border: 5px solid gray;
    padding: auto;
}
.link {
    font-size: 50px;
    font-style: none;
    text-align: center;
    padding: 10px 30px 10px 30px;
    text-decoration: none;
    color: black;
}
.kitty {
    font-size: 50px;
    font-style: none;
    background-color: rgb(253, 231, 213);
    text-decoration: none;
    color: black;
}
.kitty:hover {
    font-size: 50px;
    font-family: 'Sigmar One';
    text-decoration: none;
    color: black;
}
.links {
    background-color: rgb(253, 231, 213);
    margin-bottom: auto;
    font-size: 50px;
    font-family: 'Single Day';
    border-bottom: 5px solid gray;
    text-decoration: none;
    color: black;
    padding: 10px 30px 10px 30px;
}
p {
    font-size: 30px;
    text-align: left;
    font-family: 'Loved by the King';
    margin-left: 50px;
}
.background {
    background-color: rgb(253, 231, 213);
}
.kittyuh {
    width: 20%;
}
br {
    font-family: 'Knewave';
    font-size: 50px;
}